<nav>
	<div class="container">
		<h1><a href="https://random-sohee328.c9users.io/">여행</a></h1>
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Work</a>
		<a href="#">Blog</a>
	</div>
</nav>
<header>
	<div class="jumbotron">
		<div class="container">
  			<h2>국내 여행지 추천</h2>
  			<p style="color:#F3AFC7"> 여행을 떠나고 싶은데 여행지를 정하지 못했다면
  			<br>랜덤을 통해 여행지를 정하는 것은 어떤가요?
  			<br>국내 여행지를 추천해 드립니다</p>
  			<p><a class="btn btn-primary btn-lg" href="result" role="button" style="color:#ED3280">과연 결과는?</a></p>
		</<div>
	</div>
</header>
<footer>
	<div class="container">
		<p>Copyright &copy; Sohee, 2017</p>
	</div>
</footer>