<nav>
	<div class="container">
		<h1><a href="https://random-sohee328.c9users.io/">여행</a></h1>
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Work</a>
		<a href="#">Blog</a>
	</div>
</nav>
<header>
    <div class="container">
        <h1>"추천 여행지는 <%= @trip %> 입니다." </h1>
		<img class="img-fluid" src="assets/<%= @img[@trip[0]] %>" alt="">
	</div>
</header>
<footer>
	<div class="container">
		<p font-color= black>Copyright &copy; Sohee, 2017</p>
	</div>
</footer>